@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__avatar/profile-info__avatar.css);
@import url(../blocks/profile-info/__avatar-container/profile-info__avatar-container.css);
@import url(../blocks/profile-info/__avatarEdit-icon/profile-info__avatarEdit-icon.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__description/profile-info__description.css);
@import url(../blocks/profile-info/__description-user/profile-info__description-user.css);
@import url(../blocks/profile-info/__job/profile-info__job.css);
@import url(../blocks/profile-info/__edit-button/profile-info__edit-button.css);
@import url(../blocks/profile-info/__edit-icon/profile-info__edit-icon.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__plus-icon/profile__plus-icon.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/element/__count-like/element__count-like.css);
@import url(../blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../blocks/element/__button-delete/element__button-delete.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup-image/__container/popup-image__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close-img/popup__close-img.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button-text/popup__button-text.css);
@import url(../blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__button-confirm/popup__button-confirm.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-title/popup__image-title.css);
@import url(../blocks/popup/__open-image/popup__open-image.css);
@import url(../blocks/error/error.css);