.popup__container {
  width: 430px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px 0px #00000026;
  background-color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
  }
}