.element__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: 0em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-width: 190px;
}