.footer {  
  max-width: calc(100% - 400px);
  margin: 66px auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 400px) {
  .footer {
    max-width: 282px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
