.popup__inputs {
  display: flex;
  flex-direction: column;
  width: calc(100% - 72px);
  align-items: center;
  justify-content: center;
  margin: 45px auto 0;
  gap: 30px;
}

@media screen and (max-width: 700px) {
  .popup__inputs {
    width: calc(100% - 60px);
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 500px) {
  .popup__inputs {
    width: calc(100% - 44px);
    margin: 70px auto 0; 
  }
}