.profile-info__job {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 10px 0 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .profile-info__job {
    max-width: 250px;
  }
}

@media screen and (max-width: 320px) {
  .profile-info__job {
    font-size: 14px;
    margin-top: 7px;
    max-width: 189px;
  }
}